/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #27254c;
  --ifm-color-primary-dark: #232144;
  --ifm-color-primary-darker: #211f41;
  --ifm-color-primary-darkest: #1b1a35;
  --ifm-color-primary-light: #2b2954;
  --ifm-color-primary-lighter: #2d2b57;
  --ifm-color-primary-lightest: #312e5f;
  --ifm-background-color: #fafafa;
}

[data-theme='dark'] {
  --ifm-color-primary: #f2ecf8;
  --ifm-color-primary-dark: #dac9eb;
  --ifm-color-primary-darker: #ceb7e4;
  --ifm-color-primary-darkest: #ceb7e4;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #1f232f;
}/* Override non-category links to be horizonally compact */

li > a.menu__link {
  justify-content: flex-start;
}

.autoestudo a::before {
  padding-right: 0.5rem;
  content: url(../icons/autoestudo.svg);
}

.ponderada a::before {
  padding-right: 0.5rem;
  content: url(../icons/ponderada.svg);
}

.instrucao a::before {
  padding-right: 0.5rem;
  content: url(../icons/instrucao.svg);
}

.opcional a::before {
  padding-right: 0.5rem;
  content: url(../icons/opcional.svg);
}

.orientacao a::before {
  padding-right: 0.5rem;
  content: url(../icons/orientacao.svg);
}

.artefato a::before {
  padding-right: 0.5rem;
  content: url(../icons/artefato.svg);
}
